
<div class="container salto">
    <div class="row">
        <div class="col-5">
            <a href="/Login">
                <div class="card bgRed">
                    <img class="card-img-top" src="~/images/nuevosBilletes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title textAmarillo d-inline">Descubre nuevos destinos</h5> <h2 class="textAmarillo d-inline float-right">></h2>
                        <p class="card-text"></p>
                        <p class="card-text text-white">Este verano te llevamos a los lugares que siempre habías soñado. Vuela a destinos tan increíbles como Maldivas, Cancún o Cali entre otros. ¡Sin necesidad de registros!</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <a href="/ComprobarBillete">
                <div class="card bgRed">
                    <img class="card-img-top" src="~/images/comprobarBillete.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title textAmarillo">Check-in online</h5>
                        <p class="card-text text-white">Realiza el proceso de validación de los billetes escaneando el código QR.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

