@model LoginProofModel

<div class="container salto">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" id="messagesList">
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Comprobar billete</h2>
            <p>Comprueba el billete escaneando el siguiente código QR:</p>
            <div class="card">
                <div class="card-body">
                    <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=@Model.URL&choe=UTF-8" />
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
   
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/MessageHub").build();
    var room = "@Model.WSID";

    connection.on("/room/"+room+"/NewMessage", function (message) {
        var div = document.createElement("div");
        div.className = "alert alert-success";
        var p1 = document.createElement("p");
        p1.innerHTML = "<h3><u>Billete válido</u><h3>";
        div.appendChild(p1);
        var jwt = JSON.parse(atob(message.split(".")[1]));
        var pI = document.createElement("p");
        pI.innerHTML = "<strong>Localizador: </strong>" + jwt["ID-requeriment"];
        div.appendChild(pI);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>Usuario: </strong>" + jwt["NombreCompleto-requeriment"];
        div.appendChild(pI);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>Trayecto: </strong>" + jwt["Origen-requeriment"] + " -> " + jwt["Destino-requeriment"];
        div.appendChild(pI);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>Fecha: </strong>" + jwt["FechaSalida-requeriment"];
        div.appendChild(pI);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>Asiento: </strong>" + jwt["Asiento-requeriment"];
        div.appendChild(pI);
        document.getElementById("messagesList").appendChild(div);
        var hr = document.createElement("hr");
        div.appendChild(hr);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>Vacunado: </strong>" + jwt["Vaccined-COVIDrequeriment"];
        div.appendChild(pI);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>COVID: </strong>" + jwt["CovidIllness-COVIDrequeriment"];
        div.appendChild(pI);
        pI = document.createElement("p");
        pI.innerHTML = "<strong>Fecha: </strong>" + jwt["Issued-COVIDrequeriment"];
        div.appendChild(pI);
    });

    connection.start().then(function () {
        connection.invoke("JoinGroup", room).catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>
