@model string

    <div class="container salto lateral">
        <div class="alert alert-success" role="alert">
            ¡Billete generado correctamente!
        </div>

        <div class="salto">
            <h5 class="textoAzul">Paso 1</h5>
            <p>Descargar la cartera digital mediante la App móvil <a class="textMorado" href="https://trinsic.id/identity-wallets/">Trinsic Wallet</a> desde los siguientes enlaces</p>
            <div class="container salto">
                <a href="https://play.google.com/store/apps/details?id=id.streetcred.apps.mobile" target="_blank"><img src="/images/android.png"></a>
                <a href="https://apps.apple.com/us/app/streetcred-identity-agent/id1475160728" target="_blank"><img src="/images/ios.png"></a>
            </div>
        </div>

        <div class="salto">
            <h5 class="textoAzul">Paso 2</h5>
            <p>Escanear con <a class="textMorado" href="https://trinsic.id/identity-wallets/">Trinsic Wallet</a> el siguiente código QR:</p>
            <div class="card">
                <div class="card-body">
                    <img id='qrCode' src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=@Model&choe=UTF-8" />
                </div>
            </div>
        </div>

        <div class="salto">
            <h5 class="textoAzul">Paso 3</h5>
            <p>Usar el Billete Renfe SSI en los controles habilitados en cualquier estacion de Renfe.</p>
        </div>

    </div>


