<div class="container salto">
    <h2 class="textAmarillo">Generar un billete</h2>
    <p>Bienvenido al formulario Renfe para generar billetes SSI.</p>

    <form id="t" method="POST" class="card">
        <div class="card-body">
            <div class="form-group">
                <label><strong>Usuario:</strong> </label>
                <input name="NombreCompleto" type="text" class="form-control" value="" readonly required />
            </div>
            <div class="form-group">
                <label><strong>Origen:</strong> </label>
                <select name="Origen" class="form-control">
                    <option value="Mariehamn">Mariehamn</option>
                    <option value="Tirana">Tirana</option>
                    <option value="Andorra la Vella">Andorra la Vella</option>
                    <option value="Vienna">Vienna</option>
                    <option value="Minsk">Minsk</option>
                    <option value="Brussels">Brussels</option>
                    <option value="Sarajevo">Sarajevo</option>
                    <option value="Sofia">Sofia</option>
                    <option value="Zagreb">Zagreb</option>
                    <option value="Nicosia">Nicosia</option>
                    <option value="Prague">Prague</option>
                    <option value="Copenhagen">Copenhagen</option>
                    <option value="Tallinn">Tallinn</option>
                    <option value="Tórshavn">Tórshavn</option>
                    <option value="Helsinki">Helsinki</option>
                    <option value="Paris">Paris</option>
                    <option value="Berlin">Berlin</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Athens">Athens</option>
                    <option value="St. Peter Port">St. Peter Port</option>
                    <option value="Rome">Rome</option>
                    <option value="Budapest">Budapest</option>
                    <option value="Reykjavík">Reykjavík</option>
                    <option value="Dublin">Dublin</option>
                    <option value="Douglas">Douglas</option>
                    <option value="Rome">Rome</option>
                    <option value="Saint Helier">Saint Helier</option>
                    <option value="Riga">Riga</option>
                    <option value="Vaduz">Vaduz</option>
                    <option value="Vilnius">Vilnius</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Skopje">Skopje</option>
                    <option value="Valletta">Valletta</option>
                    <option value="Chișinău">Chișinău</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Podgorica">Podgorica</option>
                    <option value="Amsterdam">Amsterdam</option>
                    <option value="Oslo">Oslo</option>
                    <option value="Warsaw">Warsaw</option>
                    <option value="Lisbon">Lisbon</option>
                    <option value="Pristina">Pristina</option>
                    <option value="Bucharest">Bucharest</option>
                    <option value="Moscow">Moscow</option>
                    <option value="City of San Marino">City of San Marino</option>
                    <option value="Belgrade">Belgrade</option>
                    <option value="Bratislava">Bratislava</option>
                    <option value="Ljubljana">Ljubljana</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Longyearbyen">Longyearbyen</option>
                    <option value="Stockholm">Stockholm</option>
                    <option value="Bern">Bern</option>
                    <option value="Kiev">Kiev</option>
                    <option value="London">London</option>

                </select>
            </div>
            <div class="form-group">
                <label><strong>Destino:</strong> </label>
                <select name="Destino" class="form-control">
                    <option value="Mariehamn">Mariehamn</option>
                    <option value="Tirana">Tirana</option>
                    <option value="Andorra la Vella">Andorra la Vella</option>
                    <option value="Vienna">Vienna</option>
                    <option value="Minsk">Minsk</option>
                    <option value="Brussels">Brussels</option>
                    <option value="Sarajevo">Sarajevo</option>
                    <option value="Sofia">Sofia</option>
                    <option value="Zagreb">Zagreb</option>
                    <option value="Nicosia">Nicosia</option>
                    <option value="Prague">Prague</option>
                    <option value="Copenhagen">Copenhagen</option>
                    <option value="Tallinn">Tallinn</option>
                    <option value="Tórshavn">Tórshavn</option>
                    <option value="Helsinki">Helsinki</option>
                    <option value="Paris">Paris</option>
                    <option value="Berlin">Berlin</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Athens">Athens</option>
                    <option value="St. Peter Port">St. Peter Port</option>
                    <option value="Rome">Rome</option>
                    <option value="Budapest">Budapest</option>
                    <option value="Reykjavík">Reykjavík</option>
                    <option value="Dublin">Dublin</option>
                    <option value="Douglas">Douglas</option>
                    <option value="Rome">Rome</option>
                    <option value="Saint Helier">Saint Helier</option>
                    <option value="Riga">Riga</option>
                    <option value="Vaduz">Vaduz</option>
                    <option value="Vilnius">Vilnius</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Skopje">Skopje</option>
                    <option value="Valletta">Valletta</option>
                    <option value="Chișinău">Chișinău</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Podgorica">Podgorica</option>
                    <option value="Amsterdam">Amsterdam</option>
                    <option value="Oslo">Oslo</option>
                    <option value="Warsaw">Warsaw</option>
                    <option value="Lisbon">Lisbon</option>
                    <option value="Pristina">Pristina</option>
                    <option value="Bucharest">Bucharest</option>
                    <option value="Moscow">Moscow</option>
                    <option value="City of San Marino">City of San Marino</option>
                    <option value="Belgrade">Belgrade</option>
                    <option value="Bratislava">Bratislava</option>
                    <option value="Ljubljana">Ljubljana</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Longyearbyen">Longyearbyen</option>
                    <option value="Stockholm">Stockholm</option>
                    <option value="Bern">Bern</option>
                    <option value="Kiev">Kiev</option>
                    <option value="London">London</option>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Fecha salida:</strong> </label>
                <input name="FechaSalida" type="text" class="form-control" placeholder="dd/mm/yyyy hh:mm" value="" required />
            </div>
            <div class="form-group">
                <label><strong>Asiento:</strong> </label>
                <input name="Asiento" type="text" class="form-control" value="" required />
            </div>
            <div class="form-group">
                <label><strong>Clase:</strong> </label>
                <select name="Clase" class="form-control">
                    <option value="Turista">Turista</option>
                    <option value="Turista">Primera</option>
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>

    <br /><br /><br /><br />

    <script>
        var jwt = JSON.parse(atob(document.cookie.split(".")[1]));
        document.getElementsByName("NombreCompleto")[0].value = jwt["NIF-requeriment"] + " | " + jwt["Nombre-requeriment"] + " " + jwt["Apellidos-requeriment"];
    </script>

</div>
